<!DOCTYPE html>
<html>
  <head>
    <title>DnD5e向上委員会</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body class="">
    <!-- ナビゲーションバー -->
    <nav
      class="navbar navbar-expand-lg bg-secondary fixed-top"
      data-bs-theme="dark"
      id="navbar"
    >
      <!-- ブランド -->
      <div class="ms-2 me-auto">
        <a class="navbar-brand" href="/">
          <i class="bi bi-magic text-danger"></i> DnD5e向上委員会
        </a>
      </div>

      <!-- トグルボタン -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- リンク一覧 -->
      <div class="collapse navbar-collapse ms-5" id="navbarNav">
        <!-- テキストの折り返し対策のため、スタイルを追加 -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to 'ホーム', root_path, class: current_page?(root_path) ? 'nav-link active' : 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to '試験', new_user_answer_path, class: current_page?(new_user_answer_path) ? 'nav-link active' : 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to '過去問', user_answers_path, class: current_page?(user_answers_path) ? 'nav-link active' : 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>

    <!-- ヘッダー -->
    <header class="bg-body-tertiary mt-5 pt-3">
    <% if flash.any? %>
      <% flash.each do |type, message| %>
        <% if type == 'notice' %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% elsif type == 'error' %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% else %>
          <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
      <% end %>
    <% end %>
    </header>

    <%= yield %>

    <!-- フッター -->
    <footer class="mt-auto py-2 bg-secondary text-white">
      <div class="container text-center">
        <% if current_user %>  <!-- ログインしていれば、ユーザーの情報を表示 -->
          <%= image_tag current_user.image, width: "20px" %>
          <%= current_user.name %>さん
          <%= link_to raw('<i class="bi bi-door-closed"></i> ログアウト'), log_out_path, class: "text-warning" %>
        <% else %>  <!--ログインしていなければ、ログインボタンを表示-->
          <%= button_to raw('<i class="bi bi-discord"></i> Discordでログイン'), "/auth/discord", method: :post, class: "btn btn-info text-white" %>
        <% end %>
      </div>
      <div class="container text-center">
        &copy;2024 DnD5e向上委員会
        <!-- ログインしてるユーザーが管理者の場合のみ -->
        <% if current_user.try(:admin?) %>
          <%= link_to '管理者ログイン', rails_admin_path, class: "text-danger" %>
        <% end %>
      </div>
    </footer>

    <!-- Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
